In [2]:
pip install plotly

Collecting plotly
  Downloading plotly-5.4.0-py2.py3-none-any.whl (25.3 MB)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in c:\users\gabrielnichols\anaconda3\lib\site-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.4.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
import pandas as pd 
import plotly.express as px

In [4]:
dados = pd.read_csv('dataset.csv')

In [7]:
dados.head(10)

,id,bairro,created_at,descricao,endereco,id.1,ip_address_origin,latitude,longitude,registrou_bo,...,Estepe,MP4 ou Ipod,Móveis,Notebook,Outros,Relógio,Som,Tablet,Tv,time
0,49787,Butantã,2015-06-16 23:34:01.000,"5 bandidos, armas, entraram em casa e vasculha...","Avenida Trona Constanzo, 177, Butantã",49787,NaN,-23.580973,-46.719192,True,...,NaN,True,NaN,True,NaN,NaN,True,True,True,2010-12-20 20:30:00.000
1,10679,Itaquera,2013-09-11 18:26:31.819,"Meu caso foi para o Pequenas Causas, ganhamos ...","Avenida José Pinheiro Borges, 450-876 - Itaque...",10679,187.11.1.51,-23.540105,-46.462872,True,...,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,2012-01-11 14:00:00.000
2,10682,Itaquera,2013-09-11 18:42:07.858,"Meu caso foi para o Pequenas Causas, ganhamos ...",Rua Corínthians - Itaquera - Shopping Metrô It...,10682,189.19.160.82,-23.541765,-46.469562,True,...,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,2012-01-11 14:00:00.000
3,6166,Morumbi,2013-08-20 11:56:52.717,"Estava parada no semáforo, o bandido veio e es...","Rua Pasquale Gallupi, 347 - Morumbi, São Paulo...",6166,199.67.140.46,-23.611693,-46.725935,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-11 18:20:00.000
4,6521,Alto de Pinheiros,2013-08-20 17:41:21.569,Arrombaram o porta malas do meu carro e levara...,"Avenida Professor Fonseca Rodrigues, 1655 - Al...",6521,187.92.158.154,-23.544564,-46.721567,True,...,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,2012-01-11 08:15:00.000
5,14160,Butantã,2013-12-02 14:17:28.941,Ao sair do carro para abrir o portaõ dois indi...,"Rua Júlia Della Nina, 6-28 - Butantã, São Paul...",14160,189.39.55.33,-23.573288,-46.730640,True,...,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,2012-01-10 21:15:00.000
6,15422,Sumaré,2014-01-22 16:45:38.790,Fique 30min. na companhia dos assaltantes em q...,"Rua Paris, 816 - Sumaré, São Paulo - SP, 01257...",15422,179.99.212.134,-23.544893,-46.689571,True,...,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,2012-01-09 19:30:00.000
7,7409,Vila Mariana,2013-08-22 00:33:16.047,Estava eu e um amigo descendo a Av. Lins de Va...,"Rua Pero Correia, 24-42 - Vila Mariana, São Pa...",7409,201.83.14.145,-23.584458,-46.627614,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-08 22:01:00.000
8,8669,Barra Funda,2013-08-26 13:23:41.975,Roubaram minha moto quando chegava da Rod. dos...,"Avenida Marquês de São Vicente, 2064-2100 - Ba...",8669,189.100.22.14,-23.517771,-46.678739,True,...,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,2012-01-08 11:15:00.000
9,8496,Santana,2013-08-25 00:28:16.550,Furtaram o meu carro numa rua residencial.\r\n...,"Rua Carlos Camargo Aranha, 99-161 - Santana, S...",8496,201.81.206.232,-23.491780,-46.619078,True,...,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,2012-01-06 08:30:00.000