In [ ]:
pip install plotly

In [1]:
import numpy as np
import pandas as pd 
import plotly.express as px

In [2]:
raw_dataset = pd.read_csv('dataset.csv')

In [3]:
print(list(raw_dataset.columns))
colunas_relevantes = raw_dataset[['registrou_bo', 'sexo', 'tipo_assalto_id', 'Bicicleta', 'Bolsa ou Mochila', 'Carteira', 'Cartão de Crédito', 'Celular', 'Computador', 'DVD', 'Dinheiro', 'Documentos', 'Equipamento de Som', 'Estepe', 'MP4 ou Ipod', 'Móveis', 'Notebook', 'Outros', 'Relógio', 'Som', 'Tablet', 'Tv']]
colunas_relevantes.head()

['id', 'bairro', 'created_at', 'descricao', 'endereco', 'id.1', 'ip_address_origin', 'latitude', 'longitude', 'registrou_bo', 'sexo', 'tipo_assalto_id', 'titulo', 'uri', 'user_id', 'valor_prejuizo', 'Bicicleta', 'Bolsa ou Mochila', 'Carteira', 'Cartão de Crédito', 'Celular', 'Computador', 'DVD', 'Dinheiro', 'Documentos', 'Equipamento de Som', 'Estepe', 'MP4 ou Ipod', 'Móveis', 'Notebook', 'Outros', 'Relógio', 'Som', 'Tablet', 'Tv', 'time']

,registrou_bo,sexo,tipo_assalto_id,Bicicleta,Bolsa ou Mochila,Carteira,Cartão de Crédito,Celular,Computador,DVD,...,Equipamento de Som,Estepe,MP4 ou Ipod,Móveis,Notebook,Outros,Relógio,Som,Tablet,Tv
0,True,0,6,NaN,True,True,NaN,True,NaN,True,...,True,NaN,True,NaN,True,NaN,NaN,True,True,True
1,True,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN
2,True,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN
3,True,0,5,NaN,True,True,True,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,True,1,1,NaN,True,True,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN

In [4]:
#Limpar se registrou o BO
dataset_limpo = colunas_relevantes.loc[(colunas_relevantes['registrou_bo'] == True) | (colunas_relevantes['registrou_bo'] == False)]
#Limpar sexo
dataset_limpo = dataset_limpo.loc[dataset_limpo['sexo'] >= 0]
#Limpar ID tipo de assalto
dataset_limpo = dataset_limpo.loc[dataset_limpo['tipo_assalto_id'] >= 0]


dataset_limpo = dataset_limpo.fillna(False)
dataset_limpo
nulo = dataset_limpo.isnull().sum()

In [5]:
print(nulo) #Confirmando se está limpo

registrou_bo          0
sexo                  0
tipo_assalto_id       0
Bicicleta             0
Bolsa ou Mochila      0
Carteira              0
Cartão de Crédito     0
Celular               0
Computador            0
DVD                   0
Dinheiro              0
Documentos            0
Equipamento de Som    0
Estepe                0
MP4 ou Ipod           0
Móveis                0
Notebook              0
Outros                0
Relógio               0
Som                   0
Tablet                0
Tv                    0
dtype: int64