In [1]:
pip install plotly

Requirement already satisfied: plotly in c:\users\rsngamer\anaconda3\lib\site-packages (5.4.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\rsngamer\anaconda3\lib\site-packages (from plotly) (8.0.1)
Requirement already satisfied: six in c:\users\rsngamer\anaconda3\lib\site-packages (from plotly) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import numpy as np
import pandas as pd 
import plotly.express as px
from sklearn.model_selection import train_test_split

In [17]:
raw_dataset = pd.read_csv('dataset.csv')

In [18]:
print(list(raw_dataset.columns))
colunas_relevantes = raw_dataset[['registrou_bo', 'sexo', 'tipo_assalto_id', 'Bicicleta', 'Bolsa ou Mochila', 'Carteira', 'Cartão de Crédito', 'Celular', 'Computador', 'DVD', 'Dinheiro', 'Documentos', 'Equipamento de Som', 'Estepe', 'MP4 ou Ipod', 'Móveis', 'Notebook', 'Outros', 'Relógio', 'Som', 'Tablet', 'Tv']]
colunas_relevantes.head()

['id', 'bairro', 'created_at', 'descricao', 'endereco', 'id.1', 'ip_address_origin', 'latitude', 'longitude', 'registrou_bo', 'sexo', 'tipo_assalto_id', 'titulo', 'uri', 'user_id', 'valor_prejuizo', 'Bicicleta', 'Bolsa ou Mochila', 'Carteira', 'Cartão de Crédito', 'Celular', 'Computador', 'DVD', 'Dinheiro', 'Documentos', 'Equipamento de Som', 'Estepe', 'MP4 ou Ipod', 'Móveis', 'Notebook', 'Outros', 'Relógio', 'Som', 'Tablet', 'Tv', 'time']

,registrou_bo,sexo,tipo_assalto_id,Bicicleta,Bolsa ou Mochila,Carteira,Cartão de Crédito,Celular,Computador,DVD,...,Equipamento de Som,Estepe,MP4 ou Ipod,Móveis,Notebook,Outros,Relógio,Som,Tablet,Tv
0,True,0,6,NaN,True,True,NaN,True,NaN,True,...,True,NaN,True,NaN,True,NaN,NaN,True,True,True
1,True,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN
2,True,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN
3,True,0,5,NaN,True,True,True,True,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,True,1,1,NaN,True,True,True,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN

In [19]:
# Limpar se registrou o BO
dataset_limpo = colunas_relevantes.loc[(colunas_relevantes['registrou_bo'] == True) | (colunas_relevantes['registrou_bo'] == False)]
# Limpar sexo
dataset_limpo = dataset_limpo.loc[dataset_limpo['sexo'] >= 0]
# Limpar ID tipo de assalto
dataset_limpo = dataset_limpo.loc[dataset_limpo['tipo_assalto_id'] >= 0]

dataset_limpo = dataset_limpo.fillna(False)
dataset_limpo
nulo = dataset_limpo.isnull().sum()

In [20]:
print(nulo) #Confirmando se está limpo

registrou_bo          0
sexo                  0
tipo_assalto_id       0
Bicicleta             0
Bolsa ou Mochila      0
Carteira              0
Cartão de Crédito     0
Celular               0
Computador            0
DVD                   0
Dinheiro              0
Documentos            0
Equipamento de Som    0
Estepe                0
MP4 ou Ipod           0
Móveis                0
Notebook              0
Outros                0
Relógio               0
Som                   0
Tablet                0
Tv                    0
dtype: int64

In [21]:
#separando variáveis para tabela crusada
registrou_bo = dataset_limpo['registrou_bo'] 
sexo = dataset_limpo['sexo']

In [22]:
pd.crosstab(registrou_bo, sexo,normalize = 'columns')

sexo                 0         1
registrou_bo
False         0.405749  0.407579
True          0.594251  0.592421

In [23]:
lista_var = list(dataset_limpo.columns)
lista_var.remove('registrou_bo')
lista_var.remove('sexo')
lista_var.remove('tipo_assalto_id')

lista_var

['Bicicleta',
 'Bolsa ou Mochila',
 'Carteira',
 'Cartão de Crédito',
 'Celular',
 'Computador',
 'DVD',
 'Dinheiro',
 'Documentos',
 'Equipamento de Som',
 'Estepe',
 'MP4 ou Ipod',
 'Móveis',
 'Notebook',
 'Outros',
 'Relógio',
 'Som',
 'Tablet',
 'Tv']

In [24]:
for var in lista_var:
    dataitens = pd.crosstab(registrou_bo, dataset_limpo[var],normalize = 'columns')
    dataitens.pop(False)
    display(dataitens)

Bicicleta         True
registrou_bo
False         0.491736
True          0.508264

Bolsa ou Mochila      True
registrou_bo
False             0.254582
True              0.745418

Carteira          True
registrou_bo
False         0.269868
True          0.730132

Cartão de Crédito      True
registrou_bo
False              0.158948
True               0.841052

Celular           True
registrou_bo
False         0.373565
True          0.626435

Computador    True
registrou_bo
False         0.23
True          0.77

DVD               True
registrou_bo
False         0.244186
True          0.755814

Dinheiro          True
registrou_bo
False         0.270429
True          0.729571

Documentos        True
registrou_bo
False         0.175577
True          0.824423

Equipamento de Som      True
registrou_bo
False               0.621739
True                0.378261

Estepe            True
registrou_bo
False         0.637874
True          0.362126

MP4 ou Ipod      True
registrou_bo
False         0.29771
True          0.70229

Móveis            True
registrou_bo
False         0.365854
True          0.634146

Notebook         True
registrou_bo
False         0.19837
True          0.80163

Outros            True
registrou_bo
False         0.341381
True          0.658619

Relógio           True
registrou_bo
False         0.310506
True          0.689494

Som           True
registrou_bo
False         0.28
True          0.72

Tablet            True
registrou_bo
False         0.256351
True          0.743649

Tv                True
registrou_bo
False         0.222892
True          0.777108

In [46]:
df = dataset_limpo[['registrou_bo', 'Bicicleta', 'Bolsa ou Mochila', 'Carteira', 'Cartão de Crédito', 'Celular', 'Computador', 'DVD', 'Dinheiro', 'Documentos', 'Equipamento de Som', 'Estepe', 'MP4 ou Ipod', 'Móveis', 'Notebook', 'Outros', 'Relógio', 'Som', 'Tablet', 'Tv']]
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,1:], df['registrou_bo'], test_size=0.4, random_state=0)

In [47]:
X_train

,Bicicleta,Bolsa ou Mochila,Carteira,Cartão de Crédito,Celular,Computador,DVD,Dinheiro,Documentos,Equipamento de Som,Estepe,MP4 ou Ipod,Móveis,Notebook,Outros,Relógio,Som,Tablet,Tv
3755,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False
1537,False,False,False,False,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False
3194,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3706,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
5440,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5082,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3416,False,False,True,False,True,False,False,False,True,False,False,False,False,False,True,True,False,False,False
10267,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
11266,False,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2844,False,True,True,True,True,False,False,True,True,False,True,False,False,False,True,False,False,False,False

In [49]:
X_test

,Bicicleta,Bolsa ou Mochila,Carteira,Cartão de Crédito,Celular,Computador,DVD,Dinheiro,Documentos,Equipamento de Som,Estepe,MP4 ou Ipod,Móveis,Notebook,Outros,Relógio,Som,Tablet,Tv
4302,False,False,False,False,True,False,False,False,False,False,False,False,False,True,True,True,False,False,True
10677,False,True,True,True,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False
9417,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
4904,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
12167,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6596,False,True,True,True,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False
11916,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4998,False,True,True,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3824,False,False,True,True,True,False,False,False,True,False,False,False,False,False,False,True,False,True,False
1842,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False

In [48]:
y_train

3755     False
1537     False
3194      True
3706     False
5440     False
         ...
5082     False
3416      True
10267    False
11266     True
2844      True
Name: registrou_bo, Length: 7425, dtype: bool

In [76]:
print(y_test)

registrou_bo
True    0.777108
Name: True, dtype: float64